= form_for(@user,url:create_game_path)  do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .row.control-group
    .form-group.col-xs-12.floating-label-form-group.controls
      = f.label :name
      = f.text_field :name, class: "form-control", placeholder: "Name"
      %p.help-block.text-danger
  .row.control-group
    .form-group.col-xs-12.floating-label-form-group.controls
      = f.label :email
      = f.text_field :email, class: "form-control", placeholder: "Email Address"
  %br/
  .actions.row
    = f.submit 'Save', class: "btn btn-primary pull-right"
